/* GENERAL STYLES*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", system-ui;
}

.section-title {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", system-ui;
}

.section-text {
  font-size: 1.2rem;
}

/* NAVBAR */
.navbar {
  padding: 2rem; 

  & .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
}

/* HERO SECTION */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
}

.hero-main {
  padding: 3rem;

  & img {
    width: 200px;
    height: 200px;
    margin: 20px;
  }

  & h2 {
    font-size: 1.5rem;
    color: #615151;
  }
}

/* ABOUT ME */
.dark-section {
  color: #fff;
  background-color: #1b1b32;
}

.about-me {
  height: 500px;
  padding: 10px;

  & .contenedor {
    max-width: 600px;
    text-align: center;
  }
}

/* EXPERIENCE */
.light-section {
  color: #000;
  background-color: #fff;
}

.experience {
  padding: 40px 40px 60px 40px;


  & .experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }

  & i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }

  & .badges-container {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;

    & .badge {
      margin: 5px;
    }
  }

  & .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #1b1b32;
    }
  }
}


@media screen and (min-width: 700px) {
  .hero-body {
    & img {
      max-width: 600px;
    }
  }
}