/* GENERAL STYLES*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", system-ui;
}

.section-title {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", system-ui;
}

.section-text {
  font-size: 1.2rem;
}

.description-section {
  font-size: 1.2rem;
  color: #584e4e;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

/* NAVBAR */
.navbar {
  padding: 2rem; 

  & .navbar-collapse {
    align-items: center;
    justify-content: space-between;
  }
}

/* HERO SECTION */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
}

.hero-main {
  padding: 3rem;

  & img {
    width: 200px;
    height: 200px;
    margin: 20px;
  }

  & h2 {
    font-size: 1.5rem;
    color: #615151;
  }
}

/* ABOUT ME */
.dark-section {
  color: #fff;
  background-color: #1b1b32;
}

.about-me {
  height: 500px;
  padding: 10px;

  & .contenedor {
    max-width: 600px;
    text-align: center;
  }
}

/* EXPERIENCE */
.light-section {
  color: #000;
  background-color: #fff;
}

.experience {
  padding: 40px 40px 60px 40px;


  & .experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }

  & i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }

  & .badges-container {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;

    & .badge {
      margin: 5px;
    }
  }

  & .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #1b1b32;
    }
  }
}

/* PROJECTS */
.recently-projects {
  padding: 40px;

  & img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }

  & .project-container {
    padding-top: 60px;
    margin-bottom: 40px;
  }

  & .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & p {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 0;
    }

    & .icons-container {
      display: flex;
      & i {
        color: #000;
        margin: 10px;
        font-size: 60px;
      }
    }
  }

  & .project {
    position: relative;

    &:hover {
      .overlay {
        opacity: 1;
      }

      img {
        opacity: 0.2;
      }
    }
  }
}

/* ARTICLES */
.articles {
  min-height: 500px;
  padding: 30px;

  & .card-header {
    font-weight: bold;
  }

  & .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
  }
}

/* TESTIMONIALS */
.testimonials {
  padding: 40px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .carousel {
    max-width: 800px;

    & .carousel-item {
      height: 500px;

      & .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .testimonial-img {
          height: 150px;
          width: 150px;
          margin: 10px 10px 20px 10px;
        }

        & .testimonial-text {
          max-width: 70%;
          font-size: 20px;
          text-align: center;
          font-family: "Share Tech Mono", monospace;
        }

        & .testimonial-info {
          font-weight: bold;
          text-align: center;

          & p {
            margin-bottom: 0;
          }

          & .client {
            font-size: 1.2rem;;
          }

          & .position {
            font-size: 0.9rem;
            color: #656060;
          }
        }
      }
    }

  }
}

/* CONTACT */
.contact {
  .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
  }

  .rectangle {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #fff;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .description {
    color: #fff;
    font-size: 1.2rem;
  }

  .button {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:hover i {
      background-color: #fff;
      color: #000;
    }

    & i {
      color: #fff;
      font-size: 1.3rem;
      transition: all 0.2s ease-in-out;
    }
  }
}

@media screen and (min-width: 700px) {
  .hero-body {
    & img {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 800px) {
  .testimonials {

    & .carousel {
      & .carousel-item {
        & .container {

          & .testimonial-img {
            height: 120px;
            width: 120px;
          }

          & .testimonial-text {
            font-size: 18px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .recently-projects {
    & .project {

      & .overlay {
        & p {
          font-size: 18px;
        }

        & i {
          font-size: 40px;
        }
      }
    }
  }
}